[v-cloak] {
    display: none;
}

body {
    line-height: 24px;
    font: 14px Helvetica Neue, Helvetica, PingFang SC, \5FAE\8F6F\96C5\9ED1, Tahoma, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body,
button,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    display: inline-block;
    vertical-align: middle;
}

.mainBox {
    background: #EDEDED;
}

.serviceFileImage {
    left: 0px !important;
    height: 21px !important;
    width: 21px !important;
}

.chatBox {
    width: 100%;
    overflow: auto;
    background: #fff;
    box-sizing: border-box;
}

.chatContent {
    height: 10.2rem;
    overflow: auto;
}

.wantAsk {
    width: 100%;
    background: #fff;
    height: 0.85rem;
    display: flex;
    text-align: center;
    line-height: 0.85rem;
    box-sizing: border-box;
}

.wantAsk>div {
    margin-left: 0.2rem;
}

.questionSelect {
    background: #ff9900;
    height: 0.43rem;
    line-height: 0.43rem;
    border-radius: 15px;
    padding-left: 0.1rem;
    padding-right: 8px;
    margin-top: 0.2rem;
    color: #fff;
}

.inputBox {
    border-top: 1px solid #A0A0A0;
    height: 1.18rem;
    display: flex;
    background: #fff;
}

.robotServices {
    height: 0.8rem;
    width: 0.8rem;
    text-align: center;
    margin-top: 0.25rem;
    z-index: 999;
}

.robotServices>img {
    height: 50%;
    width: 50%;
    z-index: 999;
}

.robotFont {
    font-size: 12px;
    color: #515A7C;
}

.inputDiv {
    height: 0.6rem;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    width: 72%;
    border-radius: 25px;
    overflow: hidden;
    margin-left: 0.1rem;
}

.inputDiv2 {
    height: 0.6rem;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    width: 72%;
    border-radius: 25px;
    overflow: hidden;
    margin-left: 0.1rem;
}

.inputContent {
    border: none;
    margin-left: 0.16rem;
    width: 93%;
    height: 100%;
}

.floatDiv {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

.sendExpression {
    height: 0.6rem;
    width: 0.6rem;
    text-align: center;
    margin-top: 0.25rem;
    margin-left: 0.05rem;
}

.sendExpression>img {
    height: 100%;
    width: 100%;
}

.openMore {
    height: 0.7rem;
    width: 0.7rem;
    text-align: center;
    margin-top: 0.24rem;
    margin-left: 0.1rem;
}

.openMore>img {
    height: 100%;
    width: 100%;
}

.sendToPeople,
.sendToRobot,
.sendToRobot2 {
    height: 0.6rem;
    width: 0.84rem;
    border-radius: 15px;
    background: #ff9900;
    color: #fff;
    line-height: 0.6rem;
    text-align: center;
    margin-top: 0.25rem;
    margin-left: 0.08rem;
}

.sendToPeople,
.sendToRobot {
    background: #DA2339;
}

.sendToRobot2 {
    background: #ccc;
}

.moreTool,
.expressionShow {
    width: 100%;
    height: 2.3rem;
    background: #fff;
}

.toolUl {
    width: 100%;
    display: -webkit-flex;
    display: flex;
}

.toolUl>li {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    position: relative;
    width: 33%;
}

.item {
    width: 50px;
    height: 50px;
    background-color: #F2F5F7;
    border-radius: 50%;
    display: inline-block;
}

.toolIcon {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.toolImage {
    height: 0.5rem;
    width: auto;
}

.totalName {
    margin-top: 5px;
    display: block;
    color: #515A7C;
}

.message {
    height: 0.6rem;
    margin-top: 0.25rem;
    border: 1px solid #ccc;
    width: 72%;
    border-radius: 25px;
    overflow: hidden;
    margin-left: 0.1rem;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #778899 0%, #333 100%);
}

.face {
    width: 101%;
}

.face ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    box-sizing: border-box;
}

.face ul li {
    width: 30px;
    height: 30px;
    list-style-type: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consultGuide {
    width: 90%;
    height: 4.78rem;
    background: #fff;
    margin: 0 auto;
    margin-top: 0.28rem;
    border-radius: 13px;
    border-bottom-left-radius: 0px;
    padding: 0.26rem;
    box-sizing: border-box;
    margin-bottom: 0.3rem;
}

.aQuestion {
    display: block;
    color: #ff9900;
    margin-bottom: 0.35rem;
    font-size: 13px;
    letter-spacing: 1px;
}

.consultGuideDiv {
    margin-bottom: 0.35rem;
    font-size: 13px;
}

.myselfDiv {
    float: right;
    margin: 0.35rem 0;
    display: flex;
    position: relative;
}

.myselfContent {
    background: #FDE7E9;
    padding: 5px 20px;
    border-radius: 6px;
    max-width: 3.5rem;
    margin-right: 1.2rem;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
}

.mineSendImage,
.yourSendImage {
    padding: 0.08rem;
    border-radius: 11px;
    max-width: 2rem;
    margin-right: 1rem;
    overflow: hidden;
    max-height: 2rem;
    width: 2rem;
    height: auto;
}

/*.mineSendImage > img, .yourSendImage > img {
            width: 100%;
            height: 100%;
        }*/
.yourSendImage {
    margin-left: 1rem;
}

.otherContent {
    background: #eeeeee;
    padding: 0.1rem 0.35rem;
    border-radius: 6px;
    max-width: 4.5rem;
    margin-left: 1rem;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
}

.myOtherContent {
    background: #FDE7E9;
    padding: 0.1rem 0.35rem;
    border-radius: 6px;
    max-width: 4.5rem;
    margin-right: 1.2rem;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
}

.sendCard {
    height: 0.5rem;
    width: 1.2rem;
    border-radius: 15px;
    background: #D92238;
    color: #fff;
    line-height: 0.5rem;
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.myOtherContent:before {
    width: 0;
    position: absolute;
    top: 4px;
    right: -7px;
    border-style: solid;
    border-color: transparent #FDE7E9;
    border-width: 4px 0px 8px 8px;
    content: "";
}

.customerServiceDiv {
    float: left;
    margin: 0.25rem 0rem;
    display: flex;
    position: relative;
}

.otherDiv {
    display: flex;
    position: relative;
    padding: 0.1rem;
    background: #DEDEDE;
    border-radius: 15px;
    max-width: 4rem;
    margin: 0 auto;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    color: #778899;
}

.otherDiv>span {
    display: inline-block;
    margin: 0 auto;
}

.myselfImage {
    width: 1rem;
    position: absolute;
    right: 0px;
    top: -0.2rem;
}

.customerServiceImage {
    width: 1rem;
    position: absolute;
    left: 0px;
    top: -0.3rem;
}

.myselfImage>img,
.customerServiceImage>img {
    width: 83%;
    height: auto
}

.moreSession {
    width: 1.5rem;
    height: 0.6rem;
    background: #D1D1D1;
    border-radius: 20px;
    color: #fff;
    line-height: 0.6rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.1rem;
}

.FileImage {
    margin-top: 5px;
    z-index: 1;
    position: absolute;
    opacity: 0;
    bottom: 0px;
    left: -0.1rem;
    height: 0.6rem;
    width: 1rem;
}

.showImage {
    width: 100%;
    height: auto;
}

.showComment {
    width: 100%;
    background: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    margin-bottom: 0.5rem;
}

.van-popup--bottom {
    background: transparent;
    box-sizing: border-box;
}

.commentTitle {
    height: 0.8rem;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    line-height: 0.8rem;
    letter-spacing: 1px;
    display: flex;
}

.commentStart {
    height: 2.2rem;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startImage {
    height: 0.5rem;
    width: 0.5rem;
    margin: 0 0.1rem;
}

.startImage>img {
    width: 100%;
    height: 100%;
}

.isSolve {
    height: 1rem;
    width: 100%;
    display: flex;
    padding-left: 0.5rem;
}

.tablSelect {
    height: 0.5rem;
    width: 1.2rem;
    float: left;
    border: 2px solid #CCC;
    border-radius: 18px;
    line-height: 0.5rem;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    background: #fff;
    font-size: 12px;
    color: #ccc;
}

.activeSelect {
    border: 2px solid #ff9900;
    color: #ff9900;
}

.submitDiv {
    width: 100%;
    height: 0.8rem;
}

.submitBtn {
    width: 86%;
    height: 0.8rem;
    background: #FF3030;
    color: #fff;
    opacity: 0.6;
    pointer-events: none;
    margin: 0 auto;
    text-align: center;
    line-height: 0.8rem;
    border-radius: 5px;
}

.activeBtn {
    opacity: 1 !important;
    pointer-events: auto !important;
}

.myselfLoad {
    position: absolute;
    left: -0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.myselfImageLoad {
    position: absolute;
    left: -0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.sendImageError {
    position: absolute;
    top: 1.5rem;
    left: -0.5rem;
    background: red;
    color: #fff;
    display: inline-block;
    width: 0.3rem;
    text-align: center;
    height: 0.3rem;
    border-radius: 50%;
}

.sendError {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -0.5rem;
    background: red;
    color: #fff;
    display: inline-block;
    width: 0.3rem;
    text-align: center;
    height: 0.3rem;
    border-radius: 50%;
    font-size: 0.2rem;
}

.openImageDiv {
    width: 100% !important;
    overflow: auto;
}

.imageBox {
    height: 80vh;
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 88;
    background: rgba(0, 0, 0, 0.3);
    overflow: auto;
    line-height: 80vh;
    text-align: center;
}

.productBox {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 88;
    background: rgba(0, 0, 0, 0.3);
    overflow: auto;
    text-align: center;
}

.imageBox img {
    width: 35%;
    height: auto;
    z-index: 99;
}

.loginAgain {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 88;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    line-height: 80vh;
    text-align: center;
}

.isSelect {
    background: #FFEBEC;
}

.pcMoreSession {
    width: 1rem;
    height: 0.4rem;
    line-height: 0.4rem;
    cursor: pointer;
}

.noPeople {
    position: relative;
    width: 100%;
    height: 100%;
}

.noPeople img {
    width: 100%;
    height: auto;
}

.layout-empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.layout-empty-conatiner {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.infoBox {
    position: relative;
    width: 380px;
    background-color: #fafafa;
    padding: 15px;
    box-sizing: border-box;
}

.infoContent {
    position: relative;
    height: 86vh;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.infoContent>div {
    width: 100%;
    margin-bottom: 10px;
}

.infoContent label {
    color: #8598B7;
}

.serviceTool {
    height: 40px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.service_tool {
    text-align: center;
    line-height: 40px;
    width: 33%;
    cursor: pointer;
}

.active_tool {
    border-bottom: 3px solid #FF3636;
}

a {
    color: #428bca;
    text-decoration: none;
}

.goods-wrap {
    width: 96%;
    height: 89%;
    background: #fff;
    padding: 5px;
    min-width: 180px;
    overflow: hidden;
}

.goods-thum {
    width: 22%;
    max-height: 80px;
    height: 80px !important;
    float: left;
}

.goods-detail {
    float: left;
    width: 70%;
    margin-left: 10px;
}

.goods-wrap img {
    max-width: 100%;
    vertical-align: bottom;
    height: auto !important;
}

.goods-title {
    float: left;
    width: 100%;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    white-space: nowrap;
    color: #3d4966;
}

.goods-abstract {
    float: left;
    width: 100%;
    /* height: 20px; */
    margin-top: 5px;
    color: #3D4966;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    white-space: nowrap;
}

.van-switch__node {
    background: #FF2C2B;
}

.goods-label {
    float: left;
    width: 100%;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    white-space: nowrap;
    color: #3D4966;
}

.sendContent {
    position: relative;
    height: 100%;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, .06);
    border: 1px solid rgba(142, 160, 188, .3);
}

.textBox {
    width: 99%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    resize: none;
}

ul.domtree,
ul.domtree ul {
    margin: 0;
    padding: 0 0 0 2em;
}

ul.domtree li {
    list-style: none;
    position: relative;
    width: 100%;
    cursor: pointer;
    font-weight: 400;
}

ul.domtree li p {
    width: 100%;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #15192a;
}

ul.domtree li p:hover {
    color: #DA2339;
}

ul.domtree>li:first-child:before {
    border-style: none none none none;
}

ul.domtree li:before {
    position: absolute;
    content: '';
    top: -0.01em;
    left: -0.7em;
    width: 0.5em;
    height: 0.615em;
    border-style: none none solid solid;
    border-width: 0.05em;
    border-color: #e4e4e4;
}

ul.domtree li:not(:last-child):after {
    position: absolute;
    content: '';
    top: 0.7em;
    left: -0.7em;
    bottom: 0;
    border-style: none none none solid;
    border-width: 0.05em;
    border-color: #e4e4e4;
}

.tree-title {
    line-height: 36px;
    color: #15192a;
    font-weight: 700;
    cursor: pointer;
}

.see_all {
    left: -356px;
    top: -9px;
    background: #fff;
    position: absolute;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    padding: 8px 14px !important;
    width: 305px;
    display: none;
    z-index: 1;
}

.see_all:before {
    width: 0;
    position: absolute;
    top: 12px;
    right: -12px;
    border-style: solid;
    border-color: transparent #fff;
    border-width: 0 0 12px 12px;
    content: "";
}

.myselfContent:before {
    width: 0;
    position: absolute;
    top: 5px;
    right: -7px;
    border-style: solid;
    border-color: transparent #FDE7E9;
    border-width: 4px 0 8px 8px;
    content: "";
}

.otherContent:before {
    width: 0;
    position: absolute;
    top: 4px;
    left: -7px;
    border-style: solid;
    border-color: transparent #EEEEEE;
    border-width: 4px 8px 8px 0px;
    content: "";
}

.intername {
    height: 40px;
    line-height: 40px;
}

.liRight {
    width: 70%;
    position: relative;
}

.un_read {
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    line-height: 20px;
    padding: 2px;
    text-align: center;
    background: #DA2339;
    color: #fff;
    font-size: 12px;
}

.closeSession {
    position: absolute;
    bottom: 5px;
    right: 10px;
    padding: 2px;
    text-align: center;
}

.infor {
    font-size: 12px !important;
    color: #707070;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messageTip {
    width: 100%;
    padding: 0.5rem 0;
    background-color: #F1F3F4;
    color: #8A9699;
}

.textarea {
    padding: 8px;
    font-size: 15px;
    line-height: 18px;
    word-wrap: break-word;
    overflow-y: auto;
    border-radius: 8px;
    width: 93%;
    height: 1.5rem;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0.4rem auto;
    margin-bottom: 3px;
    outline: none;
}

.cardAnswers .jiao {
    position: absolute;
    left: -8px;
    top: 10px;
}

.cardAnswers {
    width: auto;
    height: auto;
    background: #eeeeee;
    padding: 10px 20px;
    margin: 4px;
    line-height: 20px;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    max-width: 350px;
}

.messageTopBtn {
    display: inline-block;
    width: 50%;
    color: #ccc;
}

.messageActive {
    color: #000;
    border-bottom: 3px solid #DA2339;
}

.messageRecord {
    height: 90%;
    overflow: scroll;
    background: #F8F9FA;
}

.messageDiv {
    background: #fff;
    margin-bottom: 8px;
    padding: 16px 20px 18px 20px;
    border-top: 1px solid #FAF9FA;
    border-bottom: 1px solid #FAF9FA;
}

.messageState {
    padding: 5px 15px;
    line-height: 20px;
    color: #fff;
    border-radius: 15px;
    background: #E4EAF2;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 20px;
}

.messageContent {
    display: flex;
    width: 100%;
    position: relative;
}

.messageDetail {
    font-size: 14px;
    color: #acb5c4;
    margin-right: 10px;
    display: -webkit-box;
    text-align: left;
    width: 75%;
}

.messageTime {
    font-size: 16px;
    font-weight: bold;
    color: #515A7C;
    text-align: left;
}

.changeNameBtn {
    color: #ff9900;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 5px;
}

.sessionType {
    width: 100%;
    height: 30px;
    text-indent: 10px;
    line-height: 30px;
    position: relative;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    padding-top: 3px;
}

.notAllowSeesion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(210, 210, 210, 0.5);
    z-index: 9;
}

.productDetail {
    width: 375px;
    height: 500px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    border: 5px solid #DA2339;
    border-radius: 20px;
}

.productDetail::-webkit-scrollbar {
    width: 15px;
}

.productImg {
    width: 100%;
    height: auto;
}

.product_inf {
    padding: 0px 4%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.product_price {
    font-size: 14px;
    color: #ff0000;
}

.featureImg {
    width: 30px !important;
    height: auto;
    margin-right: 3px;
}

.row_align_center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.colum {
    display: flex;
    flex-direction: column;
}

.product_name {
    font-size: 18px;
    padding: 5px 0;
    font-weight: 600;
}

.font_gray {
    font-size: 14px;
    color: #909399;
}

.more_info {
    width: 100%;
    border-top: 5px solid #F8F8F8;
    padding: 15px 10px;
    color: #999;
    box-sizing: border-box;
    padding-bottom: 0;
    text-align: left;
}

.info_detail {
    display: flex;
    width: 100%;
    font-size: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info_detail div {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 0;
}